---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "bootstrap"
;

body{
        
    @include container-fixed();

	@media (min-width: $screen-sm-min) {
	width: $container-sm;
	}
	@media (min-width: $screen-md-min) {
	width: $container-md;
	}
	@media (min-width: $screen-lg-min) {
	width: $container-lg;
	}
	
	.site-header{
		@include make-row();
	}
	
	.page-content{
		@include make-row();
		
		.site-main{
			@include make-sm-column(9);
		}
		
		.site-sidebar{
			@include make-sm-column(3);
		}
		
		.post{
			.post-header{
				@extend .page-header;
				p{
					margin: 0px;
				}
				h1{
					margin-top:0px;
				}
				small{
					@extend .text-muted;
				}
				margin-top:0px;
				.post-tags{
					ul{
						padding: 0px;
						margin-bottom: 0px;
					}
					ul li{
	  					display: inline;
					}
				}
			}
			
			.post-body{
				
			}
			
			.post-footer{
				
			}
		}
	}
	
	.site-pagination{
		@extend .text-center;
	}
	
	
	.site-footer{
		@include make-row();
		@extend .navbar;
		@extend .navbar-default;
		@extend .text-center;
		
		margin-bottom: 0px;
		
		.footer-copiright{
			padding-top:15px;
		}
    
	}
}