---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Import partials from `sass_dir` (defaults to `_sass`)
@import "bootstrap";
body {
  @include container-fixed();
  @media (min-width: $screen-sm-min) {
    width: $container-sm;
  }
  @media (min-width: $screen-md-min) {
    width: $container-md;
  }
  @media (min-width: $screen-lg-min) {
    width: $container-lg;
  }
  .site-header {
    @include make-row();
  }
  .page-content {
    @include make-row();
    .site-main {
      @include make-sm-column(9);
    }
    .site-sidebar {
      @include make-sm-column(3);
      ul {
        padding-left: 5px;
        list-style-type: none;
      }
    }
    .post {
      @extend .well;
      background: $component-active-color;
      .post-header {
        @extend .page-header;
        p {
          margin: 0;
        }
        h1 {
          margin-top: 0;
        }
        small {
          @extend .text-muted;
        }
        margin-top: 0;
        .post-tags {
          ul {
            padding: 0;
            margin-bottom: 0;
          }
          ul li {
            display: inline;
          }
        }
      }
      .post-body {
        
      }
      .post-footer {
        @include make-row();
      }
    }
  }
  .share {
    ul {
      padding: 0;
      margin-bottom: 0;
    }
    ul li {
      display: inline;
      padding-left: 10px;
    }
    ul li:first-child{
      padding-left: 0;
    }
  }
  .site-pagination {
    @extend .text-center;
  }
  .site-footer {
    @include make-row();
    @extend .navbar;
    @extend .navbar-default;
    @extend .text-center;
    margin-bottom: 0;
    .footer-copiright {
      padding-top: 15px;
      a.social_link {
        text-decoration: none; 
        decoration: none; 
        color:black; 
      }
    }
  }
  .recent-news {
    ul li {
      padding-top: 10px;
    }
    ul li:first-child{
      padding-top: 0;
    }
  }
}