<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  
  {% if page.description %}
    <meta name="description" content="{{page.description}}">
  {% else %}
    <meta name="description" content="{{ site.description }}">
  {% endif %}
  
  {% if page.tags.size > 0 %}
    <meta name="keywords" content="{{page.tags | array_to_sentence_string}}">
  {% else %}
    <meta name="keywords" content="{% for tag in site.tags %}{{ tag[0] }}{% if forloop.last == false %},{% endif %}{% endfor %}">
  {% endif %}
  
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/monokai_sublime.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
  
</head>
